.container-insights {
    width: 95vw;
    margin: auto;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background: linear-gradient(135deg, #00ff00, #0095ff);
    box-shadow: 0 0 0 10px #fff;
}

.grid-item {
    background-color: #FFFFFF;
    margin: 2vh 2vw;
    height: 40vh;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.tableTitle {
    font-family: "Open Sans";
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0;
    text-align: center;
}

.tableHeader {
    color: rgb(50, 50, 50);
    background-color: #a9c20a;
}
