.filterBar{
    margin: 1.5rem auto;
    width: auto;
    margin-bottom: 0%;
}

.filterBarLabel{
    font-family: 'Open Sans';
    display: inline;
}

input{
    margin-left: 1rem;
    margin-right: 1rem;
}

.filterBarWarning {
    padding: 0%;
    margin: 0%;
    text-align: center;
    color: #d52708;
}

.filterBarWarningHidden {
    padding: 0%;
    margin: 0%;
    text-align: center;
    visibility: hidden;
}