p,
li {
  text-align: start;
  padding-bottom: 30px;
}

.about-grid {
  margin-top: 80px;
}

.aboutImg {
  width: fit-content;
}

.about-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;

  color: #338579;
}
.about-text,
li {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 60px;

  color: #000000;
}
.about-minititle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;

  color: #338579;
}
