.home {
    height: 100vh;
}

.loading {
    background-color: #b6b00b;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    text-align: center;
}

.fade {
    opacity: 0;
    transition: 0.7s all linear;
    -webkit-transition: 0.7s all linear;
    -moz-transition: 0.7s all linear;
    -ms-transition: 0.7s all linear;
    -o-transition: 0.7s all linear;
}

.revaluateLoader {
    text-align: center;
    font-size: 350%;
    font-family: "Open Sans";
    font-weight: 800;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.guardLoader {
    margin: auto;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
}

.home-left {
    padding-left: 6rem;
    padding-right: 3rem;
}

.home-title {
    font-size: 300%;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 3%;
    padding: 0%;
    font-weight: 700;
    color: darkcyan;
}

.user-type-label{
    font-size: 150%;
    padding: 0%;
    margin: 0%;
    margin-bottom: 1rem;
}

.home-form {
    text-align: left;
}

.home-dropdown-box {
    padding-right: 20%;
    margin-top: 1.5rem;
}

.home-submit-button {
    border-radius: 30px;
    border: none;
    color: #FFFFFF;
    background-color: #F49F08;
    width: fit-content;
    padding: 0.5rem 2rem;
    font-size: 1.15rem;
    margin-top: 2rem;
}

.home-img {
    height: 100vh;
    width: 41.66vw;
}